body{
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 100px;
    transition: 0.5s;
}
.container{
    width: 80%;
    margin: auto;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.dark-mode{
    background-color: #222;
    color: white;
}